body {
  margin: 0;
  background-color: rgb(245, 237, 237);
}
.container {
  display: flex;
  flex-direction: column;
  width: 50rem;
  height: 7rem;
  object-fit: content;
  margin: 5rem auto;
  padding: 1rem;
  border-radius: 5px;
}
.Summer {
  background-color: orange;
}
.Winter {
  background-color: rgb(187, 221, 250);
}
.container.Summer .icon {
  color: orange;
}
.container.Winter .icon {
  color: #035aa7;
}
h1 {
  padding: 0 1rem;
}
.weather-wrapper {
  display: flex;
  justify-content: center;
}
.icon {
  font-size: 3rem;
}
cite {
  text-align: center;
}
.spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
}
.loader {
  border: 0.5rem solid #ddd0d0;
  border-radius: 50%;
  border-top: 0.5rem solid rgb(35, 136, 231);
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.message {
  position: relative;
  top: 40px;
  right: 50px;
}
